<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>500 Server Error</title>
    </head>
    <body>
        <h1>500 Server Error</h1>
        <p>The server is experiencing an error. Please return to the home page below.</p>
        <a href="/">Go Home</a>
    </body>
</html>