<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Contact</title>
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <h1>Contact</h1>
        <p>You can find my contact information here. Use the buttons to navigate to their corresponding pages.</p>
        <div class="navigation-buttons">
            <button type="submit" class="btn"><a href="/">Home</a></button>
            <button type="submit" class="btn"><a href="/known">Known connections</a></button>
            <button type="submit" class="btn"><a href="/new">New connection</a></button>
            <button type="submit" class="btn"><a href="/about">About</a></button>
        </div>
    </body>
</html>