<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Home page</title>
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <h1>This is the home page.</h1>
        <p>The current time is: <%= currentTime %></p>
        <p>Click <a href="/about"> here</a> to go to the about page.</p>
        <p>Click <a href="/contact">here</a> to go to the contact page.</p>
        <div class="server-timeline">
            <h2>Server Timeline</h2>
            <p>This is where the peer to peer connections are going to be placed. I'm thinking probably use something like a button to navigate to known devices, and another button to discover.</p>
            <p><a href="/new">New connection</a></p>
            <p><a href="/known">Known connections</a></p>
        </div>
    </body>
</html>