<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Web Socket Server Testing</title>
      <link rel="stylesheet" href="./style.css" />
   </head>
   <body>
      <main>
         <h1>Web Socket Server Testing Sandbox</h1>
         <p>The current time is: <%= currentTime %></p>
         <p>This is some sample text of where I will be putting a graphical user interface for the user to interact with on controlling the server.</p>
      </main>
   </body>
</html>