<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>New Connection</title>
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <h1>New Connection</h1>
        <p>This page is going to be used to establish new connections. Use the buttons to navigate to their corresponding pages.</p>
        <div class="navigation-buttons">
            <button type="submit" class="btn"><a href="/">Home</a></button>
            <button type="submit" class="btn"><a href="/known">Known connections</a></button>
            <button type="submit" class="btn"><a href="/about">About</a></button>
            <button type="submit" class="btn"><a href="/contact">Contact</a></button>
        </div>
    </body>
</html>